body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
	width: 100vw;
}

.phone {
	vertical-align: top;
	animation: slideLeft 1s ease-in;
}
.main-header {
	align-content: center;
	position: relative;
	width: 100vw;
}

.tweets {
	position: relative;
	left: -8%;
	vertical-align: top;
	top: 0;
}

@keyframes slideRight {
	
}
@keyframes slideLeft {
	0% {
		transform: translateX(40%);
	}	
	60% {
		transform: translateX(-5%);
	}
	100% {
		transform: translateX(0%);
	}	
}

.landing-image {
	position: relative;
	animation: slideLeft 2s ease-in;
	left: -10%;
}