body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
	text-align: center;
	justify-content: center;
	display: block;
	height: 10vh;
	width: 100vw;
}

.phone {
	width: auto;
	height: auto;
	position: absolute;
	left: 30%;
	vertical-align: top;
	animation: slideLeft 1s ease-in;
	z-index: 1;
}
.main-header {
	position: relative;
	width: 100vw;
}

.tweets {
	width: 20%;
	left: calc(30% + 396px);
	position: relative;
	vertical-align: top;
	left: 50%;
	top: 0;
}

#tweets {
	list-style: none;
}

.tweet {
	text-align: left;
	list-style: none;
	height: 100px;
	width: 80%;
	animation: slideRight .25s ease-in;
	z-index: -1;
}

.remove {
	animation: slideBackLeft 10s ease-in;
}

.search-form {
	height: 10%;
	width: 100%;
	top: 50%;
}

.searchField {
	margin-bottom: 30%;
}

@keyframes slideRight {
	0% {
		opacity: 0;
		transform: translateX(-30%);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes slideBackLeft {
	0% {
		opacity: 1;
	}
	2.5%{
		transform: translateX(-30%);
		opacity: 0;
		visibility: hidden;
	}
	100%{
		transform: translateX(-30%);
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes slideLeft {
	0% {
		transform: translateX(40%);
	}	
	60% {
		transform: translateX(-5%);
	}
	100% {
		transform: translateX(0%);
	}	
}
